<!DOCTYPE html>
<html>
<head>
  <title>BeerBerry</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <%= favicon_link_tag 'favicon.png' %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_pack_tag 'bootstrap' %>
  <%= stylesheet_pack_tag 'vue_app' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_pack_tag 'application' %>
  <%= javascript_pack_tag 'vue_app' %>
  <script>
    window.configuration = {
        notifierUrl: "<%= javascript_path 'notifier' %>",
        sensors: {
            coolant: '<%= Rails.configuration.sensors[:coolant] %>',
            beer: '<%= Rails.configuration.sensors[:beer] %>'
        }
    }
  </script>
</head>

<body>
<div id="app">
  <App></App>
</div>
</body>
</html>