<template>
  <main v-cloak class="container-fluid pt-3">
    <h1>BeerBerry</h1>
    <div v-if="error && !credsExpired" class="alert alert-danger alert-dismissible" role="alert">
      <h4>Chyba!</h4>
      <p>
        Došlo k chybě <a data-toggle="collapse" href="#errDetails" role="button" aria-expanded="false" aria-controls="errDetails">více&hellip;</a>
      </p>
      <p id="errDetails" class="collapse">{{error}}</p>

      <button v-on:click="clearError()" type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <template v-if="loggedIn">
      <fmt-batches></fmt-batches>
      <hr/>
      <h4>Teplota</h4>
      <div class="row">
        <div class="col-md-4">
          <fmt-temperature></fmt-temperature>
          <fmt-thermostat></fmt-thermostat>
        </div>
        <div class="col-md-8">
          <fmt-graph></fmt-graph>
        </div>
      </div>
    </template>
    <template v-else>
      <fmt-login></fmt-login>
    </template>
  </main>
</template>

<script>
  import { mapState, mapMutations } from 'vuex/dist/vuex.esm'

  import FmtBatches from './fmt-batches'
  import FmtThermostat from './fmt-thermostat'
  import FmtGraph from './fmt-graph'
  import FmtChart from './fmt-chart'
  import FmtTemperature from './fmt-temperature'
  import FmtLogin from './fmt-login'

  export default {
    components: {
      FmtBatches,
      FmtThermostat,
      FmtGraph,
      FmtChart,
      FmtTemperature,
      FmtLogin
    },
    data: function () {
      return {
        worker: null
      };
    },
    computed: {
      ...mapState(['error', 'token', 'credsExpired']),
      loggedIn: function () {
        return this.$store.state.token !== null
      }
    },
    methods: {
      ...mapMutations(['clearError', 'setError']),
      requestNotificationPermission() {
        return window.Notification.requestPermission()
                .then(value => {
                  console.log("Notification permission: " + value);
                  return value;
                })
      },
      notifyServiceWorker(token) {
        if (this.worker) {
          console.log("Post message");
          this.worker.postMessage({type: 'token', value: token});
        }
      },
      registerWorker(workerUrl) {
        if ('serviceWorker' in navigator) {
          return navigator.serviceWorker.register(workerUrl)
                  .then(registration => {
                    this.worker = registration.active || registration.installing || registration.waiting;
                    console.log('ServiceWorker registration successful with scope: ', registration.scope);
                  })
                  .catch((error) => { this.setError("Service worker registration failed: " + error); })
        }
      },
      initNotifications() {
        this.requestNotificationPermission()
                .then(value => {
                  if (value === 'granted' && this.worker === null) {
                    return this.registerWorker(configuration.notifierUrl);
                  }
                })
                .then(() => {
                  if (this.token) {
                    this.notifyServiceWorker(this.token);
                  }
                });
      }
    },
    watch: {
      token(newVal, oldVal) {
        if (newVal !== oldVal) {
          this.initNotifications();
        }
      }
    },
    mounted() { // if the token was already stored in session
      if (this.token) {
        this.initNotifications();
      }
    }
  }
</script>

<style scoped>
  [v-cloak] {
    display: none;
  }
</style>
