<template>
    <div class="text-center">
        <h3><span ref="text"></span>&deg;C</h3>
        <canvas ref="canvas" width="300" height="300"></canvas>
    </div>
</template>

<script>
    import { mapState } from 'vuex/dist/vuex.esm'

    export default {
        data: function() {
            return {
                gauge: null
            }
        },
        computed: mapState(['batch', 'temperature']),
        watch: {
            temperature: function(temp) {
                if (this.gauge) {
                    this.gauge.set(temp);
                }
            },
            batch: function (batch) {
                let clamp = function(val) {
                    return Math.max(Math.min(val, 30), 10);
                };
                let ideal = batch ? batch.temperature : 20;
                let zones = [
                    {strokeStyle: "#0600f0", min: 10, max: clamp(ideal - 2)},
                    {strokeStyle: "#69e7ff", min: clamp(ideal - 2), max: clamp(ideal - 1)},
                    {strokeStyle: "#30B32D", min: clamp(ideal - 1), max: clamp(ideal + 1)},
                    {strokeStyle: "#FFDD00", min: clamp(ideal + 1), max: clamp(ideal + 2)},
                    {strokeStyle: "#F03E3E", min: clamp(ideal + 2), max: 30}
                ];
                this.renderGauge(zones);
            }
        },
        methods: {
            renderGauge: function (zones) {
                let opts = {
                    angle: -0.25,
                    lineWidth: 0.2, // The line thickness
                    radiusScale: 1, // Relative radius
                    pointer: {
                        length: 0.6, // // Relative to gauge radius
                        strokeWidth: 0.035, // The thickness
                        color: '#000000' // Fill color
                    },
                    staticLabels: {
                        font: "10px sans-serif",
                        labels: [10, 15, 20, 25, 30],
                        fractionDigits: 0
                    },
                    renderTicks: {
                        divisions: 20,
                        divWidth: 0.2,
                        divLength: 0.7,
                        divColor: '#000000',
                        subDivisions: 5,
                        subLength: 0.4,
                        subWidth: 0.1,
                        subColor: '#000000'
                    },
                    staticZones: zones,
                    limitMax: true,
                    limitMin: true,
                    highDpiSupport: true
                };
                this.gauge = new Gauge(this.$refs.canvas)
                    .setOptions(opts);
                this.gauge.setTextField(this.$refs.text, 2);
                this.gauge.minValue = 10;
                this.gauge.maxValue = 30;
                if (this.temperature) {
                    this.gauge.set(this.temperature);
                }
            }
        }
    }
</script>

<style scoped>
</style>
