<template>
    <fmt-chart v-if="loaded"
               :chartData="chartData"
               :options="options"/>
</template>
<script>
    import { mapState, mapMutations, mapGetters } from 'vuex/dist/vuex.esm'
    import debounce from 'lodash.debounce'
    import axios from 'axios/dist/axios'
    import FmtChart from "./fmt-chart";
    import moment from 'moment/moment'

    const COLORS = ['blue', 'orange', 'red', 'green', 'violet', 'gray', 'black', 'yellow'];

    function createDataSet(label, data) {
        if (label === 'state') {
            return {
                label: 'state',
                showLine: false,
                data: data,
                pointRadius: 6
            };
        }
        return {
            label: label,
            data: data,
            fill: false,
            datalabels: { display: false },
            pointRadius: 0,
            pointHitRadius: 5,
            lineTension: 0,
            borderWidth: 1
        }
    }

    function setDataSetColor(ds, idx) {
        let color = COLORS[idx] || 'black';
        ds.backgroundColor = color;
        ds.borderColor = color;
    }

    function assignDatasetColors(datasets) {
        let sorted = datasets.sort((a, b) => {
            if (a.label === b.label) {
                return 0;
            } else if (a.label > b.label) {
                return 1;
            } else {
                return -1;
            }
        });
        sorted.forEach(setDataSetColor);
        return sorted;
    }

    function processReadings(readings) {
        let result = {};
        readings.data.forEach((r) => {
            let label = r.sensor;
            r = readingToPoint(r);
            if (!result[label]) {
                result[label] = createDataSet(label, []);
            }
            result[label].data.push(r);
        });

        return Object.values(result);
    }

    function processStateChanges(states) {
        let data = [];
        states.data.forEach((c) => { data.push(stateChangeToPoint(c)); });
        return createDataSet('state', data);
    }

    function readingToPoint(r) {
        return {
            x: r.timestamp,
            y: r.value,
        };
    }

    function stateChangeToPoint(r) {
        return {
            x: r.timestamp,
            y: 10,
            label: r.state
        };
    }

    function findOrCreateDataset(datasets, label) {
        let ds = datasets.filter(v => v.label === label).pop();
        if (ds === undefined) {
            ds = createDataSet(label, []);
            setDataSetColor(ds, datasets.length);
            datasets.push(ds);
        }
        return ds;
    }

    export default {
        components: { FmtChart },
        computed: {
            ...mapState(['batch']),
            ...mapGetters(['axios'])
        },
        data: function() {
            return {
                loaded: false,
                consumer: null,
                chartData: null,
                from: null,
                to: null,
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    hover: {
                        animationDuration: 0
                    },
                    responsiveAnimationDuration: 0,
                    scales: {
                        xAxes: [{
                            type: 'time',
                            time: {
                                round: 'minute',
                                tooltipFormat: 'D.M. HH:mm',
                                displayFormats: {
                                    'millisecond': 'H:mm:ss.SSS',
                                    'second': 'H:mm:ss',
                                    'minute': 'H:mm',
                                    'hour': 'D.M. H:00',
                                    'day': 'D.M.',
                                    'week': 'D.M.',
                                    'month': 'M.YYYY'
                                }
                            },
                            afterDataLimits: debounce((axis) => this.displayChanged(axis), 250)
                        }],
                        yAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: 'Teplota'
                            }
                        }]
                    },
                    plugins: {
                        datalabels: {
                            align: 'end',
                            anchor: 'end'
                        },
                        zoom: {
                            zoom: {
                                enabled: true,
                                drag: false,
                                mode: 'x',
                                speed: 0.05,
                            },
                            pan: {
                                enabled: true,
                                mode: 'x',
                                speed: 10,
                                threshold: 10,
                            }
                        }
                    }
                }
            }
        },
        watch: {
            batch: function(batch) {
                this.cableSubscribe(batch);
                this.fetchData(moment().subtract(24, 'hours'), moment())
                    .then(datasets => {
                        let data = assignDatasetColors(datasets);
                        this.chartData = { datasets: [] };
                        // Re-render the whole chart
                        setTimeout(() => this.chartData = { datasets: data }, 0);
                        this.updateTemperature(data);
                        this.loaded = true;
                    })
                    .catch((error) => { this.setError(error) });
            }
        },
        methods: {
            ...mapMutations(['setError', 'setTemperature']),
            fetchData(from, to) {
                let params = { from: from.toISOString(), to: to.toISOString() };
                return axios.all([
                    this.axios.get('/batches/' + this.batch.id + '/readings', { params: params }),
                    this.axios.get('/batches/' + this.batch.id + '/thermostat_changes', { params: params })
                ]).then((ret) => {
                    this.from = moment.min(from, this.from || from);
                    this.to = moment.max(to, this.to || to);
                    return ret;
                })
                    .then(axios.spread((readings, states) => {
                        let readingDs = processReadings(readings);
                        let stateDs = processStateChanges(states);
                        return readingDs.concat(stateDs);
                    }))
            },
            displayChanged(axis) {
                let min = moment(axis.min);
                if (min.isBefore(this.from)) {
                    this.fetchData(min, this.from)
                        .then(datasets => {
                              datasets.forEach(newData => {
                                  let ds = findOrCreateDataset(this.chartData.datasets, newData.label);
                                  ds.data = newData.data.concat(ds.data);
                              });
                              this.chartData = { datasets: this.chartData.datasets };
                            }
                        )
                        .catch((error) => { this.setError(error) });
                }
            },
            updateTemperature: function(datasets) {
                let dset = datasets.filter(function(v) { return v.label === configuration.sensors.beer}).pop();
                let latest = dset && dset.data && dset.data.length > 0 ? dset.data[dset.data.length - 1] : null;
                let currentTemp = latest ? latest.y : 10;
                this.setTemperature(currentTemp);
            },
            cableSubscribe: function(batch) {
                this.consumer = ActionCable.createConsumer((axios.defaults.baseURL || '')+ '/cable ');
                this.consumer.subscriptions.create({ channel: 'EventChannel', batchId: batch.id }, {
                    received: (event) => {
                        let point;
                        let label;
                        if (event.type === 'reading') {
                            point = readingToPoint(event.data);
                            label = event.data.sensor;
                            if (event.data.sensor === configuration.sensors.beer) {
                                this.setTemperature(event.data.value);
                            }
                        } else if (event.type === 'state') {
                            point = stateChangeToPoint(event.data);
                            label = 'state';
                        }

                        if (point) {
                            let ds = findOrCreateDataset(this.chartData.datasets, label);
                            ds.data.push(point);
                            this.chartData = {
                                datasets: this.chartData.datasets
                            };
                        }
                    }
                });
            }
        }
    }
</script>

<style scoped>
</style>

