<template>
    <div v-if="isLatestSelected">
        <div class="form-group row">
            <label for="targetTemp" class="col-12 col-md-6 col-form-label">Nastavení termostatu: </label>
            <input id="targetTemp" type="number" class="form-control col-12 col-md-6 px-2" v-model="temperature"/>
            <div class="col-12 col-md-6 pt-2">
                <button class="btn btn-primary" v-on:click="setTemp">Nastavit</button>
                <transition name="fade"><span v-if="saved" class="text-success pl-2" style="font-size: x-large">&#x2713;</span>
                </transition>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapState, mapMutations, mapGetters } from 'vuex/dist/vuex.esm'

    export default {
        data: function () {
            return {
                saved: false,
                savedTimeout: null,
                temperature: 0,
                latestBatch: null
            }
        },
        mounted() {
            this.load();
        },
        computed: {
            ...mapState({
                batch: 'batch',
                isLatestSelected(state) {
                    return state.batch && this.latestBatch && state.batch.id === this.latestBatch.id
                }
            }),
            ...mapGetters(['axios'])
        },
        watch: {
            batch(newValue, oldValue) {
                if (newValue != null && (this.latestBatch == null || newValue.id !== this.latestBatch.id)) {
                    this.load();
                }
            }
        },
        methods: {
            ...mapMutations(['setError']),
            load: function() {
                this.axios
                    .get('/batches/last')
                    .then((response) => {
                        if (response.data) {
                            this.latestBatch = response.data;
                            this.temperature = this.latestBatch.temperature
                        }
                    })
                    .catch((error) => { this.setError(error) });
            },
            setTemp: function () {
                this.axios.put('/batches/' + this.batch.id, {temperature: this.temperature})
                    .then((response) => {
                        this.saved = true;
                        if (this.savedTimeout) {
                            clearTimeout(this.savedTimeout);
                        }
                        this.savedTimeout = setTimeout(() => {
                            this.saved = false;
                            this.savedTimeout = null;
                        }, 2500);
                    })
                    .catch((error) => { this.setError(error) });
            }
        }
    }
</script>

<style scoped>
    .fade-leave-active {
        transition: opacity .5s;
    }

    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
    {
        opacity: 0;
    }
</style>

