<template>
    <form class="col-sm-4 offset-4" @submit.prevent="logIn">
        <p v-if="invalidCreds" class="alert alert-danger">
            Neplatné přihlašovací údaje
        </p>
        <p v-if="credsExpired" class="alert alert-danger">
            Přihlášení vypršelo
        </p>
        <div class="form-group">
            <label for="name">Uživatelské jméno</label>
            <input v-model="user.name" type="text" class="form-control" id="name">
        </div>
        <div class="form-group">
            <label for="password">Heslo</label>
            <input v-model="user.password" type="password" class="form-control" id="password">
        </div>
        <button type="submit" class="btn btn-primary">Přihlásit se</button>
    </form>
</template>

<script>
    import { mapState, mapMutations } from 'vuex/dist/vuex.esm'
    import axios from 'axios/dist/axios';

    export default {
        computed: {
            ...mapState(['batch', 'credsExpired'])
        },
        data: function() {
            return {
                invalidCreds: false,
                user: {
                    name: '',
                    password: ''
                }
            }
        },
        methods: {
            ...mapMutations(['setAuthToken', 'setError', 'setCredsExpired', 'clearError']),
            logIn: function() {
                axios.post('/login', this.user)
                    .then((response) => {
                        this.invalidCreds = false;
                        this.setCredsExpired(false);
                        this.clearError();
                        this.setAuthToken(response.data.token);
                    })
                    .catch((error) => {
                        if (error.response.status === 401) {
                            this.invalidCreds = true;
                        } else {
                            this.setError(error);
                        }
                    });
                // clear the pasword after it has been sent
                this.user = { name: '', password: '' };
            }
        }
    }
</script>

<style scoped>
</style>

