<script>
    import ChartDataLabels from 'chartjs-plugin-datalabels'
    import ChartZoom from 'chartjs-plugin-zoom'
    import { Line, mixins } from 'vue-chartjs'

    export default {
        extends: Line,
        mixins: [ mixins.reactiveProp ],
        mounted() {
            this.addPlugin([ChartDataLabels, ChartZoom]);
            this.renderChart(this.chartData, this.options);
        },
        props: {
            options: {
                type: Object,
                default: null
            }
        }
    }
</script>

<style scoped>
</style>

