<template>
    <div>
        <h4>
            <a data-toggle="collapse" href="#batchesList">
                <span v-if="batch">Várka {{batch.name}} - {{batch.start}}</span>
                <span v-else>Není vybrána žádná várka</span>
            </a>
            <a class="btn btn-link" @click="reloadBatch">&#x21ba;</a>
        </h4>
        <div class="collapse" id="batchesList">
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <td>Název</td>
                    <td>Teplota</td>
                    <td>Objem vody</td>
                    <td>Start</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                <tr v-for="b in batches" :key="b.id" :class="{'table-primary':  b.id === batchId()}">
                    <td>{{b.name}}</td>
                    <td>{{b.temperature}}</td>
                    <td>{{b.volume}}</td>
                    <td>{{b.start}}</td>
                    <td>
                        <button class="btn btn-primary" v-on:click="selectBatch(b)" data-toggle="collapse" data-target="#batchesList">Vybrat</button>&nbsp;
                    </td>
                </tr>
                </tbody>
            </table>
            <h4>Nová várka</h4>
            <div class="form-group col-sm-4">
                <label for="name">Název</label><input id="name" type="text" class="form-control" v-model="newBatch.name"/>
            </div>
            <div class="form-group col-sm-4">
                <label for="temp">Teplota</label><input id="temp" type="number" class="form-control" v-model="newBatch.temperature"/>
            </div>
            <div class="form-group col-sm-4">
                <label for="volume">Objem vody</label><input id="volume" type="number" class="form-control" v-model="newBatch.volume"/>
            </div>
            <div class="form-group col-sm-4">
                <label for="start">Začátek</label><input id="start" type="text" class="form-control" v-model="newBatch.start"/>
            </div>
            <div class="form-group col-sm-4">
                <button class="btn btn-primary" v-on:click="add">Přidat</button>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapState, mapMutations, mapGetters } from 'vuex/dist/vuex.esm'
    import moment from 'moment/moment'

    export default {
        data: function() {
            return {
                batches: [],
                newBatch: {
                    start: moment().format('YYYY-MM-DD'),
                    temperature: '20',
                    volume: '45'
                }
            }
        },
        mounted () {
            this.load();
        },
        computed: {
            ...mapState(['batch']),
            ...mapGetters(['axios'])
        },
        methods: {
            ...mapMutations(['selectBatch', 'setError', 'reloadBatch']),
            selectFirst: function() {
                if (this.batches && this.batches.length > 0) {
                    this.selectBatch(this.batches[0]);
                }
            },
            load: function() {
                this.axios
                    .get('/batches')
                    .then((response) => {
                        this.batches = response.data;
                        this.selectFirst();
                    })
                    .catch((error) => { this.setError(error) });
            },
            batchId: function() {
                return this.batch ? this.batch.id : null;
            },
            add: function() {
                this.axios.post('/batches', this.newBatch)
                    .then((response) => {
                        this.batches.push(response.data);
                        this.batches.sort(function (a, b) { return a.start < b.start ? 1 : a.start > b.start ? -1 : 0 });
                        this.selectFirst();
                    })
                    .catch((error) => { this.setError(error) });
            }
        }
    }
</script>

<style scoped>
</style>