const key = new Uint8Array(<%= Base64.urlsafe_decode64(Rails.application.credentials[:vapid][:public]).bytes %>);
const badgeUrl = "<%= image_path 'badge' %>";
const iconUrl = "<%= image_path 'favicon' %>";

let subscriber = {
    token: null,
    subscription: null,
    registered: false,
    setSubscription(subscription) {
        this.subscription = subscription;
        if (this.token) {
            this.registerSubscription();
        }
    },
    setToken(token) {
        this.token = token;
        if (!this.registered && this.subscription) {
            this.registerSubscription();
        }
    },
    registerSubscription() {
        fetch('../notification/register', {
            method: 'post',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': 'Token token=' + this.token
            },
            body: JSON.stringify(this.subscription),
        }).then(response => {
            console.log(response);
            if (!response.ok) {
                throw new Error("Response not ok");
            }
        }).catch(error => {
            console.error("Could not register the web push subscription on the backend: " + error.message);
        });
    }
};

function showNotification(temp) {
    const options = {
        body: 'Teplota vody dosáhla ' + temp + '°C',
        vibrate: [200, 100, 200],
        badge: badgeUrl,
        icon: iconUrl,
        tag: 'BeerBerry'
    };
    self.registration
        .showNotification('Překročení teploty vody', options)
        .catch(err => {
          console.log("Error creating notification, unregistering SW: ", err);
          self.registration.unregister()
              .then(res => console.log("SW unregistration: " + res));
        })
}

self.addEventListener('install', () => {
    self.skipWaiting();
});

self.addEventListener('activate', () => {
    try {
        const options = {
            userVisibleOnly: true,
            applicationServerKey: key
        };

        self.registration.pushManager.subscribe(options)
            .then(subscription => subscriber.setSubscription(subscription));
    } catch (err) {
        console.error('Error', err)
    }
});

self.addEventListener('push', function(event) {
    if (event.data) {
        console.log('Push: ', event.data.text());
        showNotification(event.data.text());
    } else {
        console.log('Empty push');
    }
});

self.addEventListener('message', function(event){
    if (event.data.type && event.data.type === 'token') {
        subscriber.setToken(event.data.value);
    }
});

self.addEventListener('pushsubscriptionchange', function(event) {
    event.waitUntil(
        self.registration.pushManager.subscribe(options)
            .then(subscription => subscriber.setSubscription(subscription))
    );
});